.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 0.7fr 2fr 0.7fr;
  grid-template-rows: 0.3fr 0.5fr 2fr 0.5fr;
}
.Logo {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #82440b;
}

header {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #82440b;
}
/* .Banner {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: deepskyblue;
} */
main {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  
}
/* footer {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: cyan;
} */
/* .Hamberger {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #82440b;
} */
