.intro-web,
.intro-webmoblie {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.intro-text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
  font-size: 3rem;
}
.background {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url("../../images/background.jpg");
  background-size: cover;
  /* height: 100%;  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  margin-left: 2em;
  margin-top: .3em;
}
h4 {
  margin-top: -1em;
  margin-left: 3.5em;
}
.ban{
    margin-left: .5em;
    margin-top: -.3em;
}
.addr{
    font-size: 2rem;
}
.intro-webmoblie{
  display: none;
}

@media screen and (max-width: 480px) {
  .intro-web {
    display: none;
  }

  .intro-webmoblie{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .button-next{
    box-sizing: border-box;
    width: 180px;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 3px 3px 5px 3px #ccc;
    margin-bottom: 1em;
    /* bottom: ; */
    font-size: 1.3em;
    /* color:; */
  }
  .fa.fa-arrow-right{
    margin-left: 10%;
  }
}